@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes floatBooks {
  0% {
    background-position: 0 0, 80px 90px, 140px 50px;
  }

  100% {
    background-position: 0 180px, 80px 270px, 140px 230px;
  }
}